# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

Le SQL (Structured Query Language) est un langage permettant de communiquer avec une base de données.
Ce langage informatique est notamment très utilisé par les développeurs web pour communiquer avec les données d’un site web ([source](https://sql.sh/))

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est un système de gestion de base de données relationnelle. 
Ce moteur de base de données est connu pour implémenter une grande partie du standard SQL
et des propriétés ACID.

Cette bibliothèque écrite en C est directement intégrée au programme. 
Ce système et son code source sont entièrement dans le domaine public 
ce qui permet à tout à chacun d’utiliser et de participer à l’évolution de ce projet. ([source](https://sql.sh/sgbd/sqlite))

SQLite3 présente l'avantage de n'avoir rien à configurer, rien à maintenir ou à administrer. C'est aussi son objectif. En contrepartie, certaines fonctionnalités sont absentes, comme la gestion des utilisateurs ou la possibilité de se connecter à distance à la base (en TCP/IP par exemple). ([source](https://doc.ubuntu-fr.org/sqlite))

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

XML,CSV

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier texte

### Question 5: Donner les caractéristiques de la table `summer` ?

La table summer possède 9 champs

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

```sql
SELECT COUNT(*) FROM summer
```

![img](./img/Capture.PNG)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

```sql
SELECT min(Year), max(Year)
FROM summer;
```

![Q7](./img/QQ7.PNG)

### Question 8: Indiquer les années et villes des olympiades ?

```sql
SELECT  DISTINCT Year, City
FROM summer;
```

![Q8](./img/QQ8.PNG)

### Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe)

```sql
SELECT count(*)
FROM(
SELECT DISTINCT Sport, Discipline, Event, Gender
FROM summer
WHERE Year='1984' AND Country='FRA' AND Medal='Gold'
GROUP BY Sport, Discipline,Event,Gender
)
```

![Q1](./img/Q1.PNG)

### Q2. Quel pays a le plus d’athlètes ? (Matthias)

```sql
SELECT Max( pays_max)
FROM (SELECT Country, 
	COUNT(DISTINCT Athlete) 
	AS pays_max 
FROM summer GROUP BY Country)
```
OU
```sql
SELECT  Country, COUNT(DISTINCT Athlete) as nb_athlete
FROM summer 
GROUP BY Country
ORDER BY nb_athlete DESC
LIMIT 1
```

![Q2](./img/Q2.PNG)

### Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

```sql
SELECT Country, COUNT(Medal)
FROM summer
WHERE Country = "JPN" AND Year="2012"
```

![Q3](./img/Q3.png)

### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)

```sql
SELECT DISTINCT Sport
FROM summer
WHERE Country = "GRE"
```

![Q4](./img/Q4.PNG)

### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

```sql
SELECT Country, count(Medal="Gold") as med
FROM summer
GROUP BY Country
ORDER by med DESC
```
OU
```sql
SELECT Country,Max( Medal_max)
FROM (select Country, count(Medal) as Medal_max 
FROM summer
WHERE Medal="Gold" Group by Country)
```

![Q5](./img/Q5.PNG)

### Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)

```sql
SELECT DISTINCT City
FROM summer
WHERE Year BETWEEN '1896' AND '2012'
```

![Q6](./img/Q6.PNG)

### Q7. Combien de femmes ont obtenu une médaille d’or ? (Lamia)

```sql
SELECT count(*)
FROM summer
WHERE Medal = "Gold" AND Gender = "Women"
```

![Q7](./img/Q7.PNG)

### Q8. Combien de sports différents sont représentés par année ? (joris)

```sql
SELECT Year, count(DISTINCT Sport)
FROM summer
GROUP BY Year
ORDER BY Year DESC
```

![Q8](./img/Q8.PNG)

### Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

```sql
SELECT City, count(DISTINCT Year)
FROM summer
WHERE City="London"
```

![Q9](./img/Q9.PNG)

### Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)

```sql
SELECT count(*)
FROM summer
WHERE Country="BRA" AND Gender="Women" AND Discipline="Volleyball" AND Year="2012"
```

![Q10](./img/Q10.PNG)

### Q11. Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)

```sql
SELECT DISTINCT Athlete, Medal
FROM summer
WHERE Country="FRA" AND Gender="Women" AND Year="2012"
```

![Q11](./img/Q11.PNG)

### Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? - (mayel)

```sql
SELECT Athlete, Max(medal_max)
FROM (SELECT Athlete, count(Medal) as medal_max
FROM summer WHERE Medal="Gold" GROUP BY Athlete)
```

![Q12](./img/Q12.PNG)

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (jordan)

```sql
SELECT count(Medal)
FROM summer
WHERE Country="FRA" and Sport="Cricket" and Medal="Gold"
```

![Q13](./img/Q13.PNG)

### Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (jonathan)

Résultat : 0
Pas d'années impaire pour les JO

![Q14](./img/Q14.PNG)

### Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

```sql
SELECT Country, Year, count(Medal)
FROM summer
WHERE Year='2012' AND Medal='Gold'
GROUP BY Country
```

![Q15](./img/Q15.PNG)

### Q16. Combien de femmes ont remporté des médailles ? (Alicia)

```sql
SELECT count(DISTINCT Athlete)
FROM summer
WHERE Gender='Women'
```

![Q16](./img/Q16.PNG)

### Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

```sql
SELECT Country, count(Medal)
FROM summer
WHERE Country='FRA' AND Year BETWEEN '1984' AND '2012'  
```

![Q17](./img/Q17.PNG)

---

Fin